(common_static) {
	root * /srv
	file_server {
      hide .git
  }
  try_files {path} /index.html
}

# Tailscale VPN
http://mip3-cirie1.tail60817a.ts.net {
  handle_path /api/v1/* {
	reverse_proxy webapp-backend:8000
}
#   import common_static
}


# Serve production
https://leaflink.bfh.ch {
	import common_static
	tls internal
	handle_path /api/v1/* {
		reverse_proxy webapp-backend:8000
	}
}

# Local dev testing
http://localhost {
	import common_static
	handle_path /api/v1/* {
		reverse_proxy webapp-backend:8000
	}
}
