# (common_static) {
# 	root * /srv
# 	file_server {
# 		hide .git
# 	}
# 	try_files {path} /index.html
# }

# # Tailscale Domain
# http://mip3-cirie1.tail60817a.ts.net {
# 	import common_static
# }

# http://mip3-cirie1.tail60817a.ts.net/compiler/* {
#   reverse_proxy compiler-engine:8000
# }
# http://mip3-cirie1.tail60817a.ts.net/api/* {
# }

# # Local
# https://leaflink.ti.bfh.ch {
# 	import common_static
#   tls_internal
# }
# https://10.248.11.94/ {
# 	import common_static
#   tls_internal
# http://localhost {
# 	root * /srv
# 	file_server {
#       hide .git
#   }
#   try_files {path} /index.html
# }

http://localhost {
  handle_path /api/v1/* {
    reverse_proxy webapp-backend:8000
  }
}