(common_static) {
	root * /srv
	file_server {
      hide .git
  }
  try_files {path} /index.html
}

# Tailscale VPN
http://leaflink.tail60817a.ts.net {
  handle_path /api/v1/* {
	reverse_proxy webapp-backend:8000
  }
  handle {
      import common_static
  }
}
http://influx.leaflink.tail60817a.ts.net {
	reverse_proxy influxdb:8086
}

http://sparql.leaflink.tail60817a.ts.net {
	reverse_proxy yasgui-sparql-ui:3031
}

http://triplestore.leaflink.tail60817a.ts.net {
	reverse_proxy fuseki-triplestore:3030
}

# Internal DNS 
http://leaflink.ti.bfh.ch {
	redir https://leaflink.ti.bfh.ch{uri}
}
https://leaflink.ti.bfh.ch {
	tls internal
	handle_path /api/v1/* {
		reverse_proxy webapp-backend:8000
	}
	handle {
      import common_static
  	}	
}
https://influx.leaflink.ti.bfh.ch {
	tls internal
	reverse_proxy influxdb:8086
}

https://sparql.leaflink.ti.bfh.ch {
	tls internal
	reverse_proxy yasgui-sparql-ui:3031
}

https://triplestore.leaflink.ti.bfh.ch {
	tls internal
	reverse_proxy fuseki-triplestore:3030
}
